<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.sm.molshop3.repository.ProductImageRepository">

    <!-- 이미지 등록 -->
    <insert id="insert" parameterType="ProductImage" useGeneratedKeys="true" keyProperty="productImgId">
        INSERT INTO productimg (product_img_url, product_id)
        VALUES (#{productImgUrl}, #{productId})
    </insert>

    <!-- 특정 상품의 이미지 전체 조회 -->
    <select id="selectByProductId" parameterType="int" resultType="ProductImage">
        SELECT * FROM productimg WHERE product_id = #{productId}
    </select>

    <!-- 이미지 1개 삭제 -->
    <delete id="delete" parameterType="int">
        DELETE FROM productimg WHERE product_img_id = #{productImgId}
    </delete>

    <delete id="deleteByProductId" parameterType="int">
        DELETE FROM productimg
        WHERE product_id = #{productId}
    </delete>


</mapper>
